*.idea
/target/
*.iml
.DS_Store
.settings
.project
.classpath
target/
.svn/
*.iml
*.ipr
*.iws
*/*.iml
*/*.ipr
*/*.iws
.idea/
*/.settings
*/.project
*/.classpath
*/target/
*/.svn/
*/*.class
logs/
*/bin
web/*.log
.metadata
